@use "./coin.scss";

body {
    background-image: url(../../public/assets/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        margin: 0px;
        max-width: 50%;
        background-image: url(../../public/assets/header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 h2{
        color: white;
    }
}